body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    padding: 15px 60px;
}

.form-cadatro {
    width: 500px;
    height: 200px;
    padding: 20px;  
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid;
    width: 100px;
    height: 400px;
    padding: 50px;
}

fieldset .name{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

fieldset .numero-filhos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
}

fieldset .nascimento{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

fieldset .genero{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
}

.form-cadastro legend {
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.genero input{
    margin-top:0px;
}

.submit {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
}